{% include 'admin_navigation.html' %}
<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    Change Parcel Status
</marquee>
<style>
    .abc{
    border:2px solid blue;
    padding:30px;
    border-radius:30px;
    }
    .box{
    margin-bottom:30px;
    }

</style>
<form class="container mt-5 abc" method="post" >
    {% csrf_token %}
    <div class="row">
        <div class="col col-3 box" style="background:cyan;border-radius:10px;">
            <label ><b>Current Status:</b></label>
        </div>
        <div class="col col-9 box">
            <select class="form-control" name="status_value">
                <option value="" selected disabled style="display:none;">Change Status</option>
                <option value="Parcel Reached to Your City">Parcel Reached to Your City </option>
                <option value="Parcel is Out of Delivery"> Parcel is Out of Delivery</option>
                <option value="Delivered">Delivered</option>
            </select>
        </div>
        <div class="col col-3 box" style="background:cyan;border-radius:10px;">
            <label ><b>Current Date & Time:</b></label>
        </div>
        <div class="col col-9 box">
            <input type="text" class="form-control" name="date_time" value="{{time}}">
        </div>
        <div class="col col-3 box" style="background:cyan;border-radius:10px;">
            <label ><b>Add Message:</b></label>
        </div>
        <div class="col col-9 box">
            <select name="message" class="form-control">
                <option value="" selected disabled style="display:none;">Send Message to Clint</option>
                <option value="Parcel Deliver in 2 Days">Parcel Deliver in 2 Days</option>
                <option value="Parcel Deliver Today"> Parcel Deliver Today </option>
                <option value="Parcel Delivered Thank You"> Parcel Delivered Thank You </option>
            </select>
        </div>
    </div>
    <center>
        <input type="submit" class="btn btn-primary" value="Update Status" style="margin-top:5%; color:darkcyan; background-color:black ; height:50px; font:30px bold;">
    </center>
</form>

{% ifequal error "no" %}
<script>
    alert("Status Changed Successfully")
    window.location = ('{% url 'view_parcel_admin' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid Login Details, Try Agail.....")
    window.location = ('{% url 'change_track_status' %}')
</script>
{% endifequal %}

{% include 'footer.html' %}


{% include 'footer.html' %}
