{% include 'navigation.html' %}
<style>
    .abc{
    border:2px solid blue;
    padding: 30px;
    border-radius:20px;
    background:#999;
    }
    .box{margin-bottom:30px;}
    .box2{
    font:30px bold;
    }
</style>
<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    Current Status Of Your Parcel
</marquee>
<form class="container mt-5 abc" method="post" >
    {% csrf_token %}
{% for i in data %}
    {% ifequal i.parcel_id vid %}
    <div class="row box">
        <div class="col col-3" style="background:cyan;border-radius:10px;">
            <label ><b>Current Status:</b></label>
        </div>
        <div class="col col-1"></div>
        <div class="col col-8">
            <label class="box2">{{i.parcel_status}} To {{i.name}}</label>
        </div>
    </div>
    <div class="row box">
        <div class="col col-3" style="background:cyan;border-radius:10px;">
            <label ><b>Information:</b></label>
        </div>
        <div class="col col-1"></div>
        <div class="col col-8">
            <label class="box2">{{i.parcel_msg}}</label>
        </div>
    </div>
    <div class="row box">
        <div class="col col-3" style="background:cyan;border-radius:10px;">
            <label ><b>Last Update Date:</b></label>
        </div>
        <div class="col col-1"></div>
        <div class="col col-8">
            <label class="box2">{{i.parcel_date}}</label>
        </div>
    </div>
    {% endifequal %}

    {% endfor %}

    <center>
        <a href="{% url 'visitor_track' %}" class="btn btn-primary" style="margin-top:2%; color:darkcyan; background-color:black ; height:50px; font:30px bold;">Close</a>
    </center>

</form>

